body {
    margin-top: 20px;
    background: #eee;
}
img {
    width: 70%;
    height: 30%;
}

h5 {
    margin-top: 6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 780px) {
    .card {
        width: 80% !important;
        margin: 5 auto !important;
    }
    .card img {
        width: 100% !important;
        height: 22em !important;
        overflow: hidden !important;
    }
}

.card img {
    width: 100% !important;
    height: 19em;
    overflow: hidden !important;
}
