* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#map {
    height: 30em;
    width: 90em;
    padding-left: 5px;
    padding-bottom: 5px;
}

h1 {
    margin-left: 8%;
    font-family: "Trebuchet MS", sans-serif;
}

h2 {
    margin-left: 5%;
}

.contenido {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background-color: #f2f2f2;
}

div.mapita {

    background-color: white;
    margin: 6rem 6rem;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
}

#comentario {
    margin-top: 50%;
    margin-left: 20%;
}

.datos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

body{
    margin-top:20px;
    background:#eee;
}
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}

.slider {
    width: 40%;
    height: 25em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#tarjeta {
    width: 100%;
}

@media (max-width: 1260px) {
    .contenido {
        flex-direction: column-reverse;
    }

    .contenido > div {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .contenido > div {
        width: 100%;
        padding: 0.5em;
    }
}
